
.text{
   font-size: 400%;
   color: yellow;
   position: relative;
   left: 300px;
  }
  .acc{
   font-size: 400%;
   color: yellow;
   position: relative;
   left: 850px;
   bottom:120px;
  }
  .image1{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
}
 .image2{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
 } 
 .image3{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
 } 
.image5{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:350px;
 } 
 .image6{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:350px;
 }
.image7{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:350px;
 } 
 .image8{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:700px;
 }
.image9{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:700px;
 }  
 .image10{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:700px;
 }  
 .image11{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:1050px;
 }  
 .image12{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:1050px;
 }  
 .image13{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:1050px;
 }  
.image14{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:1350px;
 }  
 .image15{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:1350px;
 }  
 .image16{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:1350px;
 }
 .image17{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:1700px;
 }  
 .image18{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:1700px;
 }  
 .image19{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:1700px;
 }
 .image20{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:2050px;
 }  
 .image21{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:2050px;
 }  
 .image22{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:2050px;
 }
 .image23{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:100px;
    bottom:2400px;
 }  
 .image24{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:150px;
    bottom:2400px;
 }  
 .image25{
    width: 400px;
    height:400px;
    border:3px solid goldenrod;
    position: relative;
    left:200px;
    bottom:2400px;
 }
 .check1{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:150px;
   
}
.check2{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:600px;
    bottom:150px;
 
}
.check3{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:300px; 
}
.check4{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:150px;
    bottom:343px;
}
.check5{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:575px;
    bottom:500px;
}
.check6{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1050px;
    bottom:650px; 
}
.check7{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:150px;
    bottom:700px
}
.check8{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:850px;
}
.check9{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1050px;
    bottom:1000px; 
}
.check10{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    right:1075px;
    bottom:1000px; 
}
.check11{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:1150px; 
}
.check12{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:1300px; 
}
.check1s{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    right:1075px;
    bottom:1350px; 
}
.check14{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:1500px; 
}
.check15{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:1650px; 
}
.check16{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    right:1075px;
    top:1700px; 
}
.check17{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:1850px; 
}
.check18{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:2000px; 
}
.check19{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    right:1075px;
    top:1700px; 
}
.check20{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:2200px; 
}
.check21{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:2350px; 
}.check22{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    right:1075px;
    bottom:2400px; 
}
.check23{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:650px;
    bottom:2550px; 
}
.check24{
    color:white;
    width:25px;
    height:25px;
    position: relative;
    left:1100px;
    bottom:2700px; 
}
.text1{
   color: white;
   position: relative;
   left: 200px;
   bottom:55px;
 }  
 .text2{
   color: white;
   position: relative;
   left: 650px;
   bottom:205px;
 }  
 .text3{
   color: white;
   position: relative;
   left:1150px;
   bottom:355px;
 } 

.text4{
   color: white;
   position: relative;
   left: 200px;
   bottom:400px;
 }  
 .text5{
   color: white;
   position: relative;
   left: 625px;
   bottom:555px;
 }  
 .text6{
   color: white;
   position: relative;
   left:1100px;
   bottom:705px;
 } 
 .text7{
   color: white;
   position: relative;
   left: 200px;
   bottom:757px;
 }  
 .text8{
   color: white;
   position: relative;
   left: 700px;
   bottom:907px;
 }  
 .text9{
   color: white;
   position: relative;
   left:1090px;
   bottom:1057px;
 } 
 .text10{
   color: white;
   position: relative;
   left: 200px;
   bottom:1055px;
 }  
 .text11{
   color: white;
   position: relative;
   left: 700px;
   bottom:1205px;
 }  
 .text12{
   color: white;
   position: relative;
   left:1150px;
   bottom:1355px;
 } 
 .text13{
   color: white;
   position: relative;
   left: 200px;
   bottom:1405px;
 }  
 .text14{
   color: white;
   position: relative;
   left: 700px;
   bottom:1555px;
 }  
 .text15{
   color: white;
   position: relative;
   left:1150px;
   bottom:1705px;
 } 
 .text16{
   color: white;
   position: relative;
   left: 200px;
   bottom:1755px;
 }  
 
 .text17{
   color: white;
   position: relative;
   left: 700px;
   bottom:1905px;
 }  
 .text18{
   color: white;
   position: relative;
   left:1150px;
   bottom:2055px;
 } 
 .text19{
   color: white;
   position: relative;
   left: 200px;
   bottom:2105px;
 }  
 
 .text20{
   color: white;
   position: relative;
   left: 700px;
   bottom:2255px;
 }  
 .text21{
   color: white;
   position: relative;
   left:1150px;
   bottom:2405px;
   
 } .text22{
   color: white;
   position: relative;
   left: 200px;
   bottom:2455px;
 }  
 
 .text23{
   color: white;
   position: relative;
   left: 700px;
   bottom:2605px;
 }  
 .text24{
   color: white;
   position: relative;
   left:1150px;
   bottom:2755px;
 } 
 
 .button{
     width:150px;
     height:50px;
     border-radius: 50px;
     background-color: gold;
     color:black;
     position: relative;
     bottom:2650px;
     left:680px;
 }
 .button:hover{
     background-color:goldenrod;
 }
 .Div{
     border:3px solid Yellow;
     width:900px;
     height:400px;
     position: relative;
     bottom:2600px;
     left:300px;
    
 }
 .Dlogo{
     width: 300px;
     height: 220px;
     position: relative;
     left:30px;
     top:30px;
     border: 2px solid gold;
 }
 .DL {
     color:white;
     text-align: center;
      position: relative;
      font-size: 300%;
     bottom:220px;
     left: 150px;
    
 }
.add{     
    color:white;
    font-size: 150%;
    position: relative;
     bottom:75px;
     left:30px;
}
.cd {
     color:white;
     text-align: center;
     position: relative;
     bottom:380px;
     left: 150px;
    
 }
 
     
 